.tracklist {
    display: flex;
    flex-direction: column;
    background-color: grey;
    width: 30%;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
}

.buttoncontainer {
    margin-top: auto;
}

.button {
    
}